.barraHorizontal4 {
    @include barraH;
    top: 50px;
}

.ubCA1 {
    width: 480px;
    position: absolute;
    top: 360px;
    left: 65%;
}

.cajaH1 {
    width: 800px;
    background-color: $amarilloOscuro;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    position: relative;
    top: -210px;

    @include estiloTitulos;
    padding-left: 100px;
    font-size: 28px;
}

.cajaCitaCiclos {
    width: 520px;
    position: relative;
    z-index: 2;
    left: 50px;
    top: -30px;

    p {
        @include estiloCita;
        font-size: 20px;
        width: 280px;
        text-align: center;
    }

    .corchete {
        @include corchete;
        font-size: 90px;
        margin-top: 15px;
    }
}

.cajaAmiga {
    @include cajaTextoRosa;
    width: 620px;
    margin-top: -50px;
    margin-left: 50px;
    margin-bottom: 230px;

    h2 {
        @include estiloTitulos;
        font-size: 28px;
        padding-top: 15px;
    }

    p {
        font-size: 24px;
    }

    img {
        width: 95%;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.cajaJusticia {
    @extend .cajaAmiga;
    margin-top: 10px;
    margin-left: 80px;
}

.barraHlarga {
    @include barraH;
    height: 900px;

}

.ubCF1 {
    width: 480px;
    position: absolute;
    top: 2040px;
    left: 15%;
}

.calesita {
    margin-top: -940px;
    margin-bottom: 180px;
}

.cajaRayos {
    @include cajaTextoFucsia;
    width: 75%;
    

    h2 {
        @include estiloTitulos;
        font-size: 28px;
        padding-top: 15px;

    }

    p {
        font-size: 24px;
        padding-right: 400px;
    }
}

.cajaFlyer {
    width: 32%;
    transform: rotate(4deg);
    position: absolute;
    left: 58%;
    margin-top: 25px;
}

.barraHorizontal5 {
    @include barraH;
    top: 50px;
}

.cajaLoque {
    position: relative;
    top: -180px;
    margin-bottom: -100px;

    h2{
        @include estiloTitulos;
        font-size: 38px;
        padding-left: 250px;
        padding-bottom: 80px;
    }

    .cajaLasMas {
        @include cajaTextoRosa;
        width: 40%;
        margin-left: 90px;


        h3 {
            @include estiloTitulos;
            font-size: 24px;
        }

        p { font-size: 22px;}
    }

    .cajaCriticas{
        @include cajaTextoRosaClaro;
        @extend .cajaLasMas;    
}
}

.ubCF2 {
    width: 480px;
    position: relative;
    top: -670px;
    left: 53%;
    margin-bottom: -100px;
}

.ubCF3{
    width: 480px;
    position: absolute;
    bottom: -265%;
    left: 50px;
}