.cajaFooter {
    background-color: $verde;
    height: 150px;
    font-family: $tipografiaParrafos;
    font-weight: bold;

    .cajaIg {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        div {
            img {
                width: 100px;
                margin-bottom: 23px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 46px;
        }
    }

    .cajaLugar {
        @include flexColCenter;
        margin-top: 72px;

        p {
            font-size: 15px;
            margin-bottom: -3.5px;
        }
    }

    .cajaLog {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -35px;

        div {
            margin-right: 15px;
            margin-bottom: 46px;

            a {
                font-size: 18px;
            }
        }

        div {
            img {
                width: 85px;
                margin-bottom: 25px;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .cajaFooter {
        height: fit-content;

        .cajaIg {
            width: fit-content;
            height: fit-content;
            flex-direction: row;
            justify-content: stretch;
            align-items: center;
            position: relative;
            top: 13px;
            left: 5px;

            div {
                img {
                    width: 73px;
                    margin-bottom: 0px;
                }
            }

            p {
                width: fit-content;
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 0px;
            }
        }

        .cajaLugar {
            width: fit-content;
            position: relative;
            top: -98px;
            left: 52px;

            p {
                font-size: 15px;
                margin-bottom: -3.5px;
            }
        }

        .cajaLog {
            width: fit-content;
            height: auto;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            margin-left: 0px;
            position: relative;
            top: -196px;
            left: 60%;

            div {
                a {
                    font-size: 14px;
                    margin-right: -25px;
                }
            }

            div {
                img {
                    width: 55px;
                    margin-bottom: 7px;
                }
            }
        }
    }
}