* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 240, 170);
    max-height: 100vh;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $colorTexto;
}

li {
    list-style-type: none;
}

p {
    @include estiloParrafo;
}

.circuloAmarillo {
    background-color: $amarilloOscuro;
    @include dimensionC;
}

.circuloFucsia {
    background-color: $fucsia;
    @include dimensionC;
}

.circuloRosa {
    background-color: $rosaClaro;
    @include dimensionC;
}

.barra {
    width: 60px;
    height: 1100px;
    background-color: $amarilloClaro;
    border-radius: 18px;
}

.barra2 {
    width: 65px;
    height: 400px;
    background-color: $amarilloOscuro;
    border-radius: 18px;
}

