* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(87, 77, 79);
}

li {
    list-style-type: none;
}

body {
    background-color: rgb(247, 240, 170);
    max-height: 100vh;
    max-width: 100%;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(87, 77, 79);
    font-weight: normal;
    font-size: 23px;
}