.cajaHeader {
    background-color: rgba(229, 129, 190);
    border-color: rgba(229, 129, 190);
    border-bottom-color: rgba(254, 210, 219, 0.6);

        .titHeader {
            font-family: 'Happy Monkey', cursive;
            color: rgb(87, 77, 79);
            font-weight: normal;
            font-size: 60px;
            letter-spacing: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                text-shadow: 1px 1px 2px rgba(254, 210, 219);
            }
    }

    .nave {
        background-color: rgba(254, 210, 219, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;

            a {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 25px;

                &:hover {
                    font-weight: bold;
                    background-color: rgba(229, 129, 190);
                    border-radius: 50%;
                }
            }
        }
    }
}