.cajaHeader {
    background-color: $fucsia;
    border-color: $fucsia;
    border-bottom-color: $rosaClaro;

    .titHeader {
        font-family: $tipografiaTitulos;
        color: $colorTexto;
        font-weight: normal;
        font-size: 60px;
        letter-spacing: 3px;
        text-shadow: 1px 1px 2px $rosa;
        @include flexColCenter;
        margin-top: -20px;

        a{
            &:hover {
                animation-duration: 1.5s;
                animation-name: brillar;
                animation-iteration-count: infinite;
            }
    
            @keyframes brillar {
                0% {
                    color: $colorTexto;
                    text-shadow: 1px 1px 2px $colorTexto;}
    
                100% {
                    color:$rosa;                    
                }
            }
        }
    }

    .nave {
        background-color: $rosaClaro;
        @include flexRowCenter;

        li {
            display: inline-block;

            a {
                font-family: $tipografiaParrafos;
                font-size: 25px;

                &:hover {
                    font-weight: bold;
                    background-color: $fucsia;
                    border-radius: 50%;
                }
            }
        }
    }
}