.cajaHeader {
    background-color: $fucsia;
    border-color: $fucsia;
    border-bottom-color: $rosaClaro;

    .titHeader {
        font-family: $tipografiaTitulos;
        color: $colorTexto;
        font-weight: normal;
        font-size: 65px;
        letter-spacing: 3px;
        text-shadow: 1px 1px 2px $rosa;
        @include flexColCenter;
        margin-top: -10px;

        a {
            &:hover {
                animation-duration: 1.5s;
                animation-name: brillar;
                animation-iteration-count: infinite;
            }

            @keyframes brillar {
                0% {
                    color: $colorTexto;
                    text-shadow: 1px 1px 2px $colorTexto;
                }

                100% {
                    color: $rosa;
                }
            }
        }
    }

    .nave {
        background-color: $rosaClaro;

        li {
            display: inline-block;

            a {
                font-family: $tipografiaParrafos;
                font-size: 27px;

                &:hover {
                    font-weight: bold;
                    background-color: $fucsia;
                    border-radius: 50%;
                }
            }

        }
    }
}


@media screen and (max-width: 500px) {
    .cajaHeader {
        .titHeader {
            font-size: 40px;
            letter-spacing: 1.1px;
            text-shadow: 0.5px 0.5px 0.5px $rosa;
            margin-top: 10px;
        }

        .nave {
            .bordeMenu {
                border-color: rgb(155, 155, 155);

                &:focus,
                &:active,
                &-icon:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }

}