.grilla1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section1"
        "section2";
    max-height: fit-content;

    .section1 {
        grid-area: section1;
        position: relative;

        .barra {
            @include barraVertical;
            position: absolute;
            top: 5%;
            left: 20px;
        }

        .barra2 {
            width: 65px;
            height: 400px;
            background-color: $amarilloOscuro;
            border-radius: 18px;
            position: absolute;
            top: 12%;
            left: 120px;
        }

        .cajaCRosa {
            position: absolute;
            top: 15%;
            right: 100px;
            animation: bounce2 2s ease infinite;
        }

        .cajaSeccion1 {
            @include flexColCenter;
            margin-top: 70px;

            .imagenP {
                @include flexRowCenter;
                margin-bottom: 50px;

                .borde {
                    @include bordeVerde;
                }

                img {
                    margin-top: 3%;
                    margin-bottom: 3%;
                    width: 425px;
                }
            }

            div {
                width: 600px;

                .corchete {
                    @include corchete;
                    font-size: 90px;
                    margin-right: 8px;
                    margin-bottom: 30px;
                }

                p {
                    @include estiloCita;
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .section2 {
        display: grid;
        grid-template-columns: 0.5fr 0.7fr 4.8fr 0.7fr 0.2fr 0.3fr 0.3fr;
        grid-template-rows: 0.4fr 1.7fr 2fr 0.6fr 0.4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2"
            "vacio3 columna1 vacio4 columna2 vacio6 columna3 vacio7"
            "vacio3 columna1 centro columna2 vacio6 columna3 vacio7"
            "vacio5 vacio5 vacio5 vacio5 vacio5 columna3 vacio7"
            "travesaño1 travesaño1 travesaño1 travesaño1 travesaño1 columna3 travesaño";
        grid-area: section2;
        position: relative;
        width: 100%;
        max-height: max-content;
        margin-top: 80px;

        .caja2C {
            position: absolute;
            top: 67%;
            left: 12%;
        }

        .contenido {
            @include flexColCenter;
            position: absolute;
            width: 100%;
            height: 85%;

            .cajaArticle {
                @include cajaTextoFucsia;
                width: 820px;
                position: relative;
                top: 50px;
                left: -190px;

                h1 {
                    @include estiloTitulos;
                    font-size: 30px;
                }

                p {
                    font-size: 27px;
                }

                .padd {
                    padding-right: 320px;
                    padding-top: 50px;
                    font-size: 29px;
                    animation-name: negrita;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                    animation-duration: 10s;
                    animation-delay: 1.5s;

                    @keyframes negrita {
                        0% {
                            font-weight: normal
                        }

                        100% {
                            font-weight: bold;
                        }
                    }
                }
            }

            .video {
                width: 650px;
                height: auto;
                position: relative;
                top: -130px;
                left: 275px;


                video {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }

        .vacio2 {
            grid-area: vacio2;
        }

        .vacio3 {
            grid-area: vacio3;
        }

        .columna2 {
            grid-area: columna2;
            background-color: $rosa;
            border-radius: 20px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .columna1 {
            grid-area: columna1;
            background-color: $rosa;
            border-radius: 20px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .vacio4 {
            grid-area: vacio4;
            background-color: $amarilloOscuro;
        }

        .centro {
            grid-area: centro;
            background-color: $rosa;
        }

        .vacio5 {
            grid-area: vacio5;
        }

        .travesano1 {
            grid-area: travesaño1;
            background-color: $amarilloClaro;
        }

        .vacio6 {
            grid-area: vacio6;
        }

        .travesano {
            grid-area: travesaño;
            background-color: $amarilloClaro;
        }

        .vacio7 {
            grid-area: vacio7;
        }

        .columna3 {
            grid-area: columna3;
            background-color: $amarilloClaro;
            border-radius: 0px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}