@mixin flexRowCenter () {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexColCenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin cajaTextoFucsia() {
    background-color: $fucsia;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

@mixin cajaTextoRosa() {
    background-color: $rosa;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

@mixin cajaTextoRosaClaro () {
    background-color: $rosaClaro;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    flex-direction: column;
}

@mixin estiloTitulos {
    font-family: $tipografiaTitulos;
    color: $colorTexto;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
}

@mixin corchete () {
    font-family: $tipografiaSecundaria;
    color: $fucsia;
    width: 50px;
}

@mixin estiloCita {
    font-family: $tipografiaSecundaria;
    color: $colorTexto;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 2px;
}

@mixin dimensionC {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

@mixin barraH {
    background-color: $amarilloOscuro;
    height: 320px;
    position: relative;
}

@mixin boton {
    text-align: center;
    background-color: $fucsia;
    border-radius: 18px;
    font-size: 16px;
}