.barraHorizontal5 {
    @include barraH;
    top: 75px;
}
.ubCA2 {
    position: absolute;
    top: 340px;
    left: 13%;
}
.cajaCitaT {
    width: 600px;
    position: absolute;
    top: 45%;
    left: 50%;
    p {
        @include estiloCita;
        font-size: 18px;
        text-align: end;
        width: 370px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .corchete {
        @include corchete;
        font-size: 95px;
    }
}
.cajaTaller {
    @include cajaTextoFucsia;
    width: 43%;
    height: 70%;
    margin-left: 5.5%;
    margin-right: 10%;
    margin-bottom: 8%;
    position: relative;
    z-index: 2;
    h1 {
        @include estiloTitulos;
        font-size: 28px;
    }
    p {
        font-size: 25px;
    }
}
.cajaFlyerTaller {
    width: 30%;
    position: relative;
    z-index: 2;
    top: 20px;
}
.barraHorizontal6 {
    @include barraH;
    top: -260px;
    margin-bottom: -120px;
}
.cajaModalidad {
    width: fit-content;
    position: relative;
    z-index: 2;
    left: 60%;
    top: -320px;
    p {
        font-size: 25px;
    }
    a {
        text-shadow: 1px 1px 2px $colorTexto;
        font-size: 25px;
    }
}
.botonT {
    @include estiloParrafo;
    @include boton;
    width: 220px;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    top: -180px;
    a {
        background-color: $rosaClaro;
        border-radius: 10px;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
        &:hover {
            font-weight: bold;
        }
    }
}
.ubCF4 {
    position: absolute;
    top: 1300px;
    left: 13%;
}

@media screen and (max-width: 500px) {
    .barraHorizontal5 {
        @include barraH;
        top: 50px;
    }
    .ubCA2 {
        width: fit-content;
        position: relative;
        top: -250px;
        left: 13%;
    }
    .cajaCitaT {
        position: relative;
        top: -200px;
        left: 0px;
        width: 85%;
        p {
            font-size: 16px;
            margin-left: -10px;
            width: 100%;
        }
        .corchete {
            font-size: 70px;
            margin-left: 0px;
            margin-bottom: 35px;
            width: fit-content;
        }
    }
    .cajaTaller {
        width: 96%;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        margin-left: 2%;
        margin-right: 0;
        margin-bottom: 80px;
        margin-top: -100px;
        h1 {
            @include estiloTitulos;
            font-size: 24px;
            margin-bottom: -5px;
        }
        p {
            font-size: 20px;
        }
    }
    .cajaFlyerTaller {
        width: 96%;
        margin-left: 2%;
        top: 0px;
    }
    .cajaModalidad {
        width: 75%;
        z-index: 0;
        top: -120px;
        left: 15%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        p {
            font-size: 20px;
        }
        a {
            font-size: 20px;
        }
    }
    .botonT {
        width: 200px;
        height: 50px;
        position: relative;
        left: 0px;
        top: -50px;
        a {
            border-radius: 14px;
        }
    }
    .ubCF4 {
        width: fit-content;
        position: relative;
        top: 0;
        left: 45%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}