.barraHorizontal5 {
    @include barraH;
    top: 75px;
}

.ubCA2 {
    position: absolute;
    top: 340px;
    left: 13%;
}

.cajaCitaT {
    position: absolute;
    top: 340px;
    left: 47.5%;
    width: 600px;

    p {
        @include estiloCita;
        font-size: 18px;
        text-align: end;
        width: 370px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .corchete {
        @include corchete;
        font-size: 95px;
    }
}

.cajaTaller {
    @include cajaTextoFucsia;
    width: 43%;
    height: 70%;
    margin-left: 5.5%;
    margin-right: 10%;
    margin-bottom: 8%;
    position: relative;
    z-index: 2;

    h1 {
        @include estiloTitulos;
        font-size: 28px;
    }

    p {
        font-size: 25px;
    }
}

.cajaFlyerTaller {
    width: 30%;
    position: relative;
    z-index: 2;
    top: 20px;
}

.barraHorizontal6 {
    @include barraH;
    top: -260px;
    margin-bottom: -120px;
}

.cajaModalidad {
    width: 35%;
    position: relative;
    z-index: 2;
    margin-top: -345px;
    margin-left: 60%;
    margin-bottom: 25px;

    p {
        font-size: 25px;
    }

    a {
        text-shadow: 1px 1px 2px $colorTexto;
        font-size: 25px;
    }
}

.botonT {
    @include estiloParrafo;
    @include boton;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    left: 67%;
    top: -125px;

    a {
        background-color: $rosaClaro;
        border-radius: 10px;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
            font-weight: bold;
        }
    }
}

.ubCF4 {
    position: absolute;
    top: 1270px;
    left: 13%;
}


@media screen and (max-width: 500px) {
    .ubCA2 {
        width: fit-content;
        position: relative;
        top: -230px;
        left: 13%;
    }
    
    .cajaCitaT {
        position: relative;
        top: -160px;
        left: 0;
        width: fit-content;
    
        p {
            font-size: 16px;
            text-align: start;
            width: 300px;
        }
    
        .corchete {
            font-size: 75px;
        }
    }
    
    .cajaTaller {
        width: 100%;
        height: 70%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    
        h1 {
            @include estiloTitulos;
            font-size: 24px;
        }
    
        p {
            font-size: 18px;
        }
    }
    
    .cajaFlyerTaller {
        width: 80%;
        position: relative;
        z-index: 2;
        top: 20px;
    }
    
    .cajaModalidad {
        width: 100%;
        position: relative;
        z-index: 0;
        top: -100px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 25px;
    
        p {
            font-size: 20px;
        }
    
        a {
            text-shadow: 1px 1px 2px $colorTexto;
            font-size: 20px;
        }
    }
    
    .botonT {
        width: 200px;
        height:50px;
        display: flex;
        justify-content: center;
        position: static;
        z-index: 0;
        left: 0;
        top: 0;
    
        a {
            background-color: $rosaClaro;
            border-radius: 14px;
            padding: 5px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    
    .ubCF4 {
        width: fit-content;
        position: relative;
        top: 0;
        left: 0;
    }
    


}


