$tipografiaSecundaria: 'Give You Glory', cursive;
$tipografiaParrafos: 'Josefin Sans', sans-serif;
$tipografiaTitulos: 'Happy Monkey', cursive;
$colorTexto: rgb(87, 77, 79);
$fucsia: rgba(229, 129, 190);
$rosa: rgb(236, 190, 219);
$rosaClaro: rgba(254, 210, 219, 0.9);
$amarilloOscuro: rgb(252, 235, 161);
$amarilloClaro: rgb(243, 226, 93, 0.6);
$verde: rgb(201, 236, 151);