* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(87, 77, 79);
}

li {
  list-style-type: none;
}

body {
  background-color: rgb(247, 240, 170);
  max-height: 100vh;
  max-width: 100%;
}

/*CLASES PROPIAS DEL INDEX - USO DE GRID*/



.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section1"
    "section2";
  min-height: 190vh;
}

.vacio1 {
  grid-area: vacio1;
}

.vacio2 {
  grid-area: vacio2;
}

.vacio3 {
  grid-area: vacio3;
}

.columna2 {
  grid-area: columna2;
  background-color: rgb(236, 190, 219);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
}

.columna1 {
  grid-area: columna1;
  background-color: rgb(236, 190, 219);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
}

.vacio4 {
  grid-area: vacio4;
  background-color: rgb(243, 226, 93, 0.6);
}

.centro {
  grid-area: centro;
  background-color: rgb(236, 190, 219);
}

.vacio5 {
  grid-area: vacio5;
}

.travesano1 {
  grid-area: travesaño1;
  background-color: rgb(252, 235, 161);
}

.vacio6 {
  grid-area: vacio6;
}

.travesano {
  grid-area: travesaño;
  background-color: rgb(252, 235, 161);
}

.vacio7 {
  grid-area: vacio7;
}

.vacio8 {
  grid-area: vacio8;
}

.vacio9 {
  grid-area: vacio9;
}

.vacio10 {
  grid-area: vacio10;
}

.columna3 {
  grid-area: columna3;
  background-color: rgb(243, 226, 93, 0.6);
  border-radius: 20px;
}

.vacio11 {
  grid-area: vacio11;
}

.section1 {
  grid-area: section1;
  position: relative;
}

.cajaSeccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 70px;
}

.imagenP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.imagenP img {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 425px;
}

.borde {
  background-color: transparent;
  width: 460px;
  height: 460px;
  border: solid rgb(201, 236, 151) 5px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.barra {
  width: 60px;
  height: 1500px;
  background-color: rgb(252, 235, 161);
  border-radius: 18px;
  position: absolute;
  top: 6%;
  left: 40px;
}

.barra2 {
  width: 65px;
  height: 400px;
  background-color: rgb(243, 226, 93, 0.6);
  border-radius: 18px;
  position: absolute;
  top: 12%;
  left: 120px;
}

.circuloRosa {
  width: 65px;
  height: 65px;
  background-color: rgba(254, 210, 219, 0.9);
  border-radius: 50%;
}

.cajaCircRosa {
  position: absolute;
  top: 15%;
  right: 100px;
}

/*SECTION 2*/
.section2 {
  display: grid;
  grid-template-columns: 0.7fr 0.8fr 4.5fr 0.6fr 0.3fr 0.3fr 0.3fr;
  grid-template-rows: 0.2fr 0.3fr 0.6fr 1.3fr 4.3fr 0.7fr 0.4fr 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1"
    "vacio2 vacio2 vacio2 columna2 vacio6 vacio11 vacio7"
    "vacio2 vacio2 vacio2 columna2 vacio6 columna3 vacio7"
    "vacio3 columna1 vacio4 columna2 vacio6 columna3 vacio7"
    "vacio3 columna1 centro columna2 vacio6 columna3 vacio7"
    "vacio5 vacio5 vacio5 vacio5 vacio5 columna3 vacio7"
    "travesaño1 travesaño1 travesaño1 travesaño1 travesaño1 columna3 travesaño"
    "vacio8 vacio8 vacio8 vacio8 vacio8 columna3 vacio9"
    "vacio10 vacio10 vacio10 vacio10 vacio10 vacio10 vacio10";
  grid-area: section2;
  position: relative;
  width: 100%;
  height: 95%;
}

.contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 85%;
}

.cajaArticle {
  background-color: rgba(229, 129, 190);
  width: 30%;
  height: 68%;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: -80px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
}

.video {
  width: 35%;
  height: auto;
  margin-top: 45px;
}

.video video {
  width: 100%;
  border-radius: 20px;
}

.caja2C {
  position: absolute;
  top: 95%;
  left: 170px;
}


/*ASIDE*/
.aside {
  background-color: rgba(229, 129, 190, 0.9);
  border-radius: 20px;
  width: 20%;
  height: auto;
  padding-left: 8px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 10px;
  position: relative;
  top: -100px;
  left: 55%;
}

.estiloAside {
  background-color: rgba(254, 210, 219, 0.9);
  border-radius: 15px;
  font-family: "Give You Glory", cursive;
  font-size: 2rem;
  font-weight: normal;
  color: rgb(87, 77, 79);
  letter-spacing: 2.6px;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: 5px;
  margin-bottom: 0px;
}

.estiloAside:hover {
  font-weight: bold;
}

/*ACÁ YA USO BOOTSTRAP - PARA TODAS LAS PP _______________________________________________________________________________________________________________________*/
p {
  padding-bottom: 6px;
  padding-top: 4px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 2rem;
  text-align: justify;
}

.cajaHeader {
  background-color: rgba(229, 129, 190);
  border-color: rgba(229, 129, 190);
  border-bottom-color: rgba(254, 210, 219, 0.6);
}

.titHeader {
  font-family: 'Happy Monkey', cursive;
  color: rgb(87, 77, 79);
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titHeader a:hover {
  text-shadow: 1px 1px 2px rgba(254, 210, 219);
}

.nave {
  background-color: rgba(254, 210, 219, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nave li a {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.nave li a:hover {
  font-weight: bold;
  background-color: rgba(229, 129, 190);
  border-radius: 50%;
}

.cajaFooter {
  background-color: rgb(201, 236, 151);
  font-family: "Josefin Sans", sans-serif;
  color: rgb(87, 77, 79);
  font-weight: normal;
  font-size: 18px;
}

.cajaIg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.enlace {
  width: 22%;
}

.cajaIg img {
  width: 100%;
}

.cajaLog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cajaLog img {
  width: 50px;
  align-self: flex-end;
}

.cajaLugar {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.estiloArt1 {
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  color: rgb(87, 77, 79);
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 28px;
}

.cajaH1 {
  background-color: rgb(243, 226, 93, 0.6);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  top: -210px
}

.circuloAmarillo {
  background-color: rgb(243, 226, 93, 0.6);
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.circuloFucsia {
  background-color: rgba(229, 129, 190, 0.8);
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cajaCCC {
  position: absolute;
  top: 400px;
  left: 63%;
}

.cajaCCA {
  position: absolute;
  top: 1950px;
  left: 100px;
}

.estiloArt {
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  color: rgb(87, 77, 79);
  letter-spacing: 3px;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.cajaArt {
  background-color: rgb(236, 190, 219);
  border-radius: 20px;
  padding: 60px;
  padding-bottom: 25px;
  padding-top: 15px;
  width: 45vw;
  z-index: 2;
  margin-top: -140px;
}

.cajaArt img {
  border-radius: 20px;
}

.padtArt {
  margin-top: -12px;
}

.estiloCita {
  font-family: 'Give You Glory', cursive;
  color: rgb(87, 77, 79);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  width: 300px;
}

.cajaCitaCiclos {
  position: relative;
  left: 62.5%;
  top: -85px;
}

.corchete {
  font-size: 70px;
  color: rgba(229, 129, 190);
  padding-left: 0px;
  padding-right: 5px;
}

.barraHorizontal {
  height: 320px;
  background-color: rgb(252, 235, 161);
}

.barraHorizontal2 {
  height: 1000px;
  background-color: rgb(243, 226, 93, 0.5);
  position: relative;
  top: -150px
}

.barraHorizontal3 {
  height: 500px;
  background-color: rgb(252, 235, 161);
  border-radius: 18px;
  padding-left: 100px;
}

.calesita {
  margin-top: -940px;
  margin-bottom: 7%;
}

.padd {
  padding-right: 50%;
}

.cajaFlyer {
  width: 35%;
  position: absolute;
  left: 60%;
  top: 3%;
  transform: rotate(6deg);
}

.cajaLoque {
  margin-top: 180px;
  margin-bottom: 110px;
  margin-left: 7%;
}

.cajaArt2 {
  background-color: rgba(254, 210, 219);
  border-radius: 20px;
  padding: 60px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.cajaArt2ubicacion {
  position: absolute;
  top: 17%;
  left: 62%;
}

.cajaCLoque {
  position: absolute;
  bottom: -270%;
  right: 50px;
}

.cajaCCF{
  width: 60%;
  position: relative;
  top: -750px;
  left: 5%;
}

.estiloArt2 {
  font-size: 20px;
}

.cajaTaller {
  background-color: rgba(229, 129, 190);
  border-radius: 20px;
  width: 43%;
  height: 70%;
  padding: 75px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 5.5%;
  margin-right: 7%;
  margin-bottom: 8%;
}

.cajaFlyerTaller {
  width: 35%;
}

.cajaModalidad{ 
  width: 35%;
  margin-top: -11%;
  margin-left: 58%;
  margin-bottom: 8%;
}

.cajaModalidad a {
  text-shadow: 1px 1px 2px rgb(134, 127, 128)}

.boton{
  text-align: center;
  background-color: rgba(229, 129, 190);
  border-radius: 18px;
  width: 13%;
  padding: 12px;
  margin-left: 63%; 
}

.boton a{
  background-color: rgb(236, 190, 219);
  border-radius: 12px;
  padding: 3px;
  padding-right: 12px;
  padding-left: 6px;
  margin-left: -12px;
}

.boton a:hover{
  font-weight: bold;
}

.ubBarra{
  position: relative;
  top: -200px
  
}

.cajaZ{
  position: relative;
  z-index: 2;
  margin-bottom: -300px;
}

.cajaCCD{
  position: absolute;
  top: 360px;
  left: 13%;
}

.cajaCD{
  position: absolute;
  top: 145%;
  left: 15%;
}

.cajaCircRosaT{
  position: absolute;
  top: 43%;
  right: 150px;
}

.barra2T{
  position: absolute;
  top: 38%;
  left: 120px;
}

.cajaCitaT {
  position: absolute;
  top: 250px;
  left: 40%;
}

.estiloForm{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 2rem;
}

.estiloForm button:hover{
  background-color: rgb(236, 190, 219);
  font-weight: bold;
}

.cajaTe{
  background-color: rgb(243, 226, 93);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  top: -7%;
  padding: 25px;
  padding-left: 150px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.barraUb{
  height: 65%;
  position: absolute;
  top: 35%;
  left: 30px;
}

.cajaCitaC{
  position: relative;
  left: 54%;
  top: -25px;
}

.barraHorizontal4 {
  height: 500px;
  background-color: rgb(252, 235, 161);
}

.cajaArtQ {
  background-color: rgb(236, 190, 219);
  border-radius: 20px;
  width: 45%;
  padding: 65px;
  padding-bottom: 25px;
  padding-top: 15px;
  position: relative;
  top: -200px;
  z-index: 2;
  margin-left: 5%;
  margin-right: 5%;

}

.cajaVig{
  position: relative;
  top: -120px;
  width: 40%;
  
}

.cajaCitQ{
  position: relative;
    left: 58%;
    top: 100px;
}

.cajaCCQ{
  position: absolute;
  top: 330px;
  left: 13%;
}
/*VISTA MOBILE        ______________________________________________________________________________________________________________________________________________________*/

@media screen and (max-width: 550px) {
  p {
    padding-bottom: 3px;
    padding-top: 2px;
    font-size: 13px;
    line-height: 18px;
  }

  .titHeader {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .nave li a {
    font-size: 15px;
  }

  .cajaFooter {
    font-size: 10px;
    flex-wrap: nowrap;
  }

  .cajaIg {
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 20px;
  }

  .enlace {
    width: 35%;
  }

  .cajaLog {
    flex-direction: column-reverse;
    justify-content: center;

  }

  .cajaLog img {
    width: 32%;
  }

  .cajaLugar {
    font-size: 8px;
    padding-left: 25px;
  }

  .estiloArt1 {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .cajaH1 {
    position: relative;
    top: -90px
  }

  .barraHorizontal {
    height: 120px;
  }

  .circuloAmarillo {
    width: 30px;
    height: 30px;
  }

  .cajaCCC {
    top: 187px;
    left: 270px
  }

  .estiloArt {
    letter-spacing: 1.5px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
  }

  .cajaArt {
    text-align: center;
    border-radius: 18px;
    padding: 35px;
    padding-bottom: 30px;
    padding-top: 15px;
    width: 90vw;
  }

  .padtArt {
    margin-top: -10px;
  }

  .margArt {
    margin-top: -50px;
  }

  .cajaArt img {
    border-radius: 18px;
  }

  .estiloCita {
    font-size: 11px;
  }

  .corchete {
    font-size: 72px;
    padding-top: 10px;
  }

  .cajaCitaCiclos {
    position: relative;
    left: 100px;
    top: -60px;
  }

  .circuloFucsia {
    width: 30px;
    height: 30px;
  }

  .cajaCCA {
    position: absolute;
    top: 1770px;
    left: 37%;
  }

  .padd {
    padding-right: 0px;
  }

  .padito {
    padding-right: 100px;
    text-align: start;
  }

  .cajaFlyer {
    width: 50%;
    left: 185px;
    top: 185px;
    transform: rotate(4deg);
  }

  .cajaLoque {
    margin-top: 70px;
    margin-bottom: 90px;
    margin-left: 50px;
  }

  .cajaArt2 {
    border-radius: 18px;
    padding: 30px;
    padding-bottom: 13px;
    padding-top: 12px;
  }

  .cajaArt2ubicacion {
    position: static;
    top: 0;
    left: 0;
    margin-top: 35px;
  }

  .calesita {
    margin-top: -940px;
    margin-bottom: 10px;
  }

  .cajaCLoque {
    display: flex;
    position: absolute;
    top: 3045px;
    left: 125px;
  }

  .estiloArt2 {
    font-size: 12px;
    text-align: end;
  }

  .contenedor {
    max-height: 85vh;
    grid-template-rows: 0.5fr 5fr 0fr 0.6fr;
  }

  .na {
    margin-top: 5px;
    margin-bottom: 6px;
  }

  .na li {
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .na li a {
    font-size: 0.75rem;
    padding: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .main {
    min-height: 120vh;
  }

  .cajaSeccion1 {
    margin-top: 40px;
    margin-bottom: 7px;
  }

  .imagenP {
    margin-bottom: 40px;
  }

  .imagenP img {
    margin-top: 0;
    margin-bottom: 0;
    width: 220px;
  }

  .borde {
    width: 230px;
    height: 230px;
    border-width: 2px;
  }

  .barra {
    width: 25px;
    height: 850px;
    left: 8px;
  }

  .barra2 {
    width: 30px;
    height: 210px;
    border-radius: 10px;
    top: 10%;
    left: 40px;
  }

  .circuloRosa {
    width: 30px;
    height: 30px;
  }

  .cajaCircRosa {
    top: 15%;
    right: 30px;
  }

  .section2 {
    width: 85%;
  }

  .contenido {
    flex-direction: column;
    top: 120px;
    left: 60px;
  }

  .cajaArticle {
    width: 300px;
    height: 290px;
    border-radius: 18px;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 30px;
    margin-top: -90px;
  }

  .video {
    width: 300px;
    margin-top: 40px;
    margin-left: 0px;
    transform: rotate(0deg);
  }

  .video video {
    border-radius: 18px;
  }

  .caja2C {
    position: absolute;
    top: 560px;
    left: 25px;
  }

  .aside {
    border-radius: 12px;
    width: 35%;
    height: auto;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    bottom: 0px;
    right: -220px;
  }

  .estiloAside {
    border-radius: 7px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .section2 {
    grid-template-columns: 0.4fr 0.8fr 4.5fr 1.2fr 0.1fr 0.3fr 0.2fr;
    grid-template-rows: 0.2fr 0.3fr 0.6fr 1.3fr 4.3fr 0.7fr 0.7fr 0.2fr 0.3fr;
    width: 100vw;
  }

  .columna2 {
    border-radius: 14px;
    border-bottom-left-radius: 0px;
  }

  .columna1 {
    border-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .columna3 {
    border-radius: 8px;
  }

}